
html{
    height:100%;
}
body{
    font-family:"ＭＳ Ｐゴシック",sans-serif;
    height:100%;
    margin:0px;
}
#navi{
    background-color:#ffffff;
    width:100%;height:50px;
    top:0px;
    position:fixed;
    box-shadow:0px 5px 10px gray;
}
#navi ul{
    list-style: none;
    overflow: hidden;
}
#navi ul li{
    float:left;
    border-right: 1px solid #DDD;
}
#navi ul li a{
    padding:10px;
    text-decoration: none;
    color: #333;
    font-size:125%;
    font-weight: bold;
}
#top{
    height:85%;
    margin-left:5%;
    margin-right:5%;
    margin-top:60px;
    background-color:#222222;
    box-shadow:0px 2px 4px gray;
    border-radius: 200px;
    color:white;
}
@media screen and (max-width: 480px){
    #top{
        border-radius: 20px;
    }
}
@media screen and (min-width: 480px){
    #top{
        border-radius: 30px;
    }
}
@media screen and (min-width: 768px){
    #top{
        border-radius: 50px;
    }
}
#top #title{
    padding:10%;
}
#top h1{
    font-size:250%;
    margin:0px;
}
#top p{
    padding-top:5%;
    font-size:150%;
}
#newtopic{
    margin:5%;
    height:150px;
    background: #f2f2f2;
    padding:10px;
    margin-top:10px;
    box-shadow:0px 2px 4px gray;
}
#newtopic h1{
    font-size:100%
}
#main{
    display:flex;
}
@media screen and (max-width: 480px){
    #main{
        flex-wrap: wrap;
        justify-content: center;
    }
}
#right{
    height:100%;
    background:#f5f5f5;
}
@media screen and (max-width: 480px){
    #right{
        width:90%;
    }
    #left{
        width:90%;
    }
}
@media screen and (min-width: 480px){
    #right{
        width:30%;
        position:-webkit-sticky;
        position:sticky;
        top:60px;
        justify-content:center;
        order:1;
        margin-left:5%;
    }
    #left{
        width:50%; 
        margin-left:5%;
        order:0;
    }
}
#right h2{
    text-align:center;
}
#right ul{
    display:flex;
    margin:2%;
    padding:0px;
    flex-wrap: wrap;
    list-style: none;
}
#right ul li{
    margin:5px;
    width:125px;
    height:40px;
}
@media screen and (max-width: 950px){
    #right ul li{
        margin:5px;
        width:40%;
        height:40px;
    }
}
#right ul li a{
    display:inline-block;
    width:100%;
    height:100%;
    margin:5%;
    background: #87ceeb;
    box-shadow:0px 4px 8px gray;
    text-align: right;
    text-decoration: none;
}
#right ul li a:hover{
    background: #00bfff;
    box-shadow:0px 2px 4px gray;
}
#left h2{
    padding:5px;
    padding-left:10px;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
#left h3{
    padding:10px;
    border-bottom: solid 2px #ffc06e;
}
#left h4{
    padding-left:10px;
}
main p{
    font-size:80%;
    margin-left:10px;
    line-height:200%;
}
@media screen and (min-width: 480px){
    main p{
        font-size:100%;
    }
}