
html{
    height:100%;
}
body{
    font-family:"ＭＳ Ｐゴシック",sans-serif;
    height:100%;
    margin:0px;
}
#header{
    background-color:#ffffff;
    font-size:20px;
    text-align: center;
    width:100%;
    height:50px;
}
#top{
    height:calc(100% - 90px);
    margin:20px;
    background-color:#222222;
    box-shadow:0px 2px 4px gray;
    border-radius: 200px;
    color:white;
}
@media screen and (max-width: 480px){
    #top{
        border-radius: 20px;
    }
}
@media screen and (min-width: 480px){
    #top{
        border-radius: 30px;
    }
}
@media screen and (min-width: 768px){
    #top{
        border-radius: 50px;
    }
}
#top #title{
    padding:10%;
}
#top h1{
    font-size:250%;
    margin:0px;
}
#top p{
    padding-top:5%;
    font-size:150%;
}
.maintenance{
    /*display:none;*/
    /*↑メンテナンス時コメント化*/
    font-size: 150%;
    font-weight: bolder;
    background:yellow;
    text-align: center;
}
#newtopic{
    margin:5%;
    height:150px;
    background: #f2f2f2;
    padding:10px;
    margin-top:10px;
    box-shadow:0px 2px 4px gray;
}
#newtopic h1{
    font-size:100%
}
#width{
    width:100%;
    display:flex;
    justify-content: center;
}
#content{
    width:1000px;
    display:flex;
    justify-content: center;
}
/*@media screen and (max-width: 1040px){
    #contentt{
        width:100%;
    }
}*/
/*@media screen and (max-width: 480px){
    #contentt{
        flex-wrap: wrap;
        justify-content: center;
    }
}*/
#main{
    width:700px;
}
#side{
    width:300px;
    background:#fffaf0;
}

#side #item{
    
}

/*@media screen and (max-width: 1000px){
    #main{
        width:90%;
    }
    #left{
        width:90%;
    }
}*/
/*@media screen and (max-width: 480px){
    #right{
        width:90%;
    }
    #left{
        width:90%;
    }
}
@media screen and (min-width: 480px){
    #right{
        width:30%;
        position:-webkit-sticky;
        position:sticky;
        top:60px;
        justify-content:center;
        order:1;
        margin-left:5%;
    }
    #left{
        width:50%; 
        margin-left:5%;
        order:0;
    }
}*/
#item h2{
    text-align:center;
}
#item ul{
    display:flex;
    margin:2%;
    padding:0px;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
#item ul li{
    margin:5px;
    width:125px;
    height:40px;
}
/*@media screen and (max-width: 950px){
    #right ul li{
        margin:5px;
        width:40%;
        height:40px;
    }
}*/
#item ul li a{
    text-decoration: none;
    display:flex;
    color:#000000;
    width:100%;
    height:100%;
    line-height:100%;
    font-size:12px;
    background: #f5f5f5;
    border-bottom: solid 4px #dcdcdc;
}
#item ul li a i{
    display:flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height:100%;
    line-height:100%;
    font-size:20px;
    background:#00fa9a;
    border-bottom: solid 4px #3cb371;
}
#item ul li a:hover{
    background: #dcdcdc;
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom:none;
}
#item ul li a:hover i{
    background: #3cb371;
    border-bottom:none;
}
#main{
    margin:0px;
}
#main h2{
    padding:5px;
    padding-left:10px;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
#main h3{
    padding:10px;
    border-bottom: solid 2px #ffc06e;
}
#main h4{
    padding-left:10px;
}
main p{
    font-size:80%;
    margin:10px;
    margin-left:10px;
}
@media screen and (min-width: 480px){
    main p{
        font-size:100%;
    }
}